# dependencies
node_modules

# build output
.output
.wxt
dist
storybook-static
*.tgz

# test coverage
coverage
*.lcov

# logs
*.log

# environment variables
.env
.env.local
.env.*.local

# caches
.cache
*.tsbuildinfo

# generated route tree (TanStack Router)
src/routeTree.gen.ts

# IDE
.idea

# macOS
.DS_Store
